.chatbox-container {
	position: fixed;
	left: $side-panel-width;
	bottom: 0;

	width: calc(100% - #{$side-panel-width * 2});
	height: $chatbox-height;

	.compose-message {
		width: 100%;
		height: 100%;
		
		* {
			border: 0;
			height: 100%;

			font-family: Inter;
			font-size: 12pt;
			font-weight: 300;
		
			color: $dtheme-text-fade0;
		}
		
		.chatbox {
			width: 100%;
			padding: 0 $side-padding;
			
			background: $dtheme-chatbox-bg;
			::placeholder {
				color: $dtheme-placeholder-text;
			}
		}
	}
}