.messages-container {
	height: calc(100% - #{$chatbox-height});
	flex: 1;

	padding-left: $side-padding;
	padding-right: $side-padding;

	background: inherit;

	.messages .message {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		
		overflow-wrap: anywhere;
		border-bottom: 1px solid $dtheme-placeholder-text;
		
		.username-timestamp {
			.message-timestamp {
				padding-left: 0.5rem;

				color: $dtheme-inactive-text;
				font-size: 0.85rem;
			}
		}

		.message-body {
			padding-top: 0.25rem;
		}
	}
}