#chatbox-container {
	position: fixed;
	left: $side-panel-width;
	bottom: 0;

	width: calc(100% - #{$side-panel-width * 2});
	height: $chatbox-height;

	background: inherit;
	#compose {
		height: 100%;
		
		* {
			border: 0;
			height: 100%;

			font-family: Inter;
			font-size: 12pt;
			font-weight: 300;
		
			color: $dark-theme-text;
		}
		
		#chatbox {
			width: 100%;
			padding-left: 25px;
			padding-right: 25px;
			
			background: $dark-theme-chatbox-bg;
			::placeholder {
				color: $dark-theme-placeholder-text;
			}
			// height: 100%;
		}

		#send {
			width: 100px;
			// height: 100%;
		}
	}
}