#messages-container {
	// display: inline-block;
	// position: static;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
	width: calc(100% - 250px);
	height: calc(100% - 50px);
	float: left;
	clear: left;
	// overflow-y: scroll;

	background: inherit;

	#messages {
		list-style-type: none;
		
		li {
			word-break: break-all;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $dark-theme-placeholder-text;
		
			.message-timestamp {
				color: $dark-theme-inactive-text;
			}
		}
	}
}