#users-container {
	position: relative;
	width: 250px;
	height: calc(100% - 50px);
	background: $dark-theme-bg;

	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;

	// overflow-y: scroll;
	
	float: right;
	clear: right;

	#users {
		list-style-type: none;

		li {
			// word-break: break-all;
			padding-top: 10px;
			padding-bottom: 10px;

			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			// border-bottom: 1px solid #DDDDDD;
		}
	}

	#change-username {
		position: fixed;
		bottom: 50px;
		right: 0;
		width: 250px;
		height: 50px;
		cursor: pointer;
		text-align: center;
		line-height: 50px;
		background: $dark-theme-bg;

		span {
			display: inline-block;

			img {
				vertical-align: -1px;
				margin-right: 10px;
			}
		}
	}
}