#users-container {
	position: relative;
	// width: 250px;
	height: 100%;
	background: $dark-theme-bg;

	flex: 0 $side-panel-width;

	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;

	// overflow-y: scroll;
	
	// float: right;
	// clear: right;

	#users {
		list-style-type: none;

		li {
			// word-break: break-all;
			padding-top: 10px;
			padding-bottom: 10px;

			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			// border-bottom: 1px solid #DDDDDD;
		}
	}

	#change-username {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 250px;
		height: 50px;
		cursor: pointer;
		text-align: center;
		line-height: 50px;
		background: $dark-theme-bg;

		span {
			display: inline-block;

			img {
				vertical-align: -1px;
				margin-right: 10px;
			}
		}
	}
}