$font-stack: Inter, sans-serif;
$link-color: #50A9FC;

$light-text: #333333;
$light-bg-text: #444444;
$light-background: #F7F7F7;

$dark-theme-bg: hsl(0, 0%, 20%);
$dark-theme-chatbox-bg: hsl(0, 0%, 25%);
$dark-theme-text: hsl(0, 0%, 80%);
$dark-theme-placeholder-text: hsl(0, 0%, 30%);
$dark-theme-inactive-text: hsl(0, 0%, 75%)
