#messages-container {
	display: block;
	position: static;
	margin: 0 auto;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	
	overflow-y: scroll;

	background: #F7F7F7;

	#messages {
		list-style-type: none;
		
		li {
			word-break: break-all;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
			
			#sender {
				font-weight: 500;
			}
		}

		.time {
			color: #888888;
		}
	}
}