#users-container {
	position: relative;
	width: 250px;
	height: calc(100% - 50px);

	padding-left: 25px;
	padding-right: 25px;

	overflow-y: scroll;
	
	float: right;
	clear: right;

	#users {
		list-style-type: none;

		li {
			// word-break: break-all;
			padding-top: 10px;
			padding-bottom: 10px;
			// border-bottom: 1px solid #DDDDDD;
		}
	}

	#change-username {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
		cursor: pointer;
		text-align: center;
		line-height: 50px;
	
		span {
			display: inline-block;

			img {
				vertical-align: baseline;
				margin-right: 10px;
			}
		}
	}
}