.container.side-panel.servers-container(data-simplebar)
	ul.servers

.container.messages-container(data-simplebar)
	ul.messages

.container.side-panel.users-container(data-simplebar)
	ul.users

.container.chatbox-container
	form.compose-message
		input.chatbox(type="text", autocomplete="off", placeholder="Write a message", autofocus)