html
	head
		title=title
	body
		form(action="/account/signup", method="post")
			input.username(type="text" name="username" placeholder="username")
			input.password(type="password" name="password" placeholder="password")
			button.submit() Submit